@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

html, body {
  box-sizing: border-box;
}
/* font-family: 'Lato', sans-serif; */

#app-container {
  position: fixed;
  top: 5px;
  right: 5px;
  z-index: 99999999999;
}