.imgList {
  display: flex;
  flex-flow: row wrap;
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
  /* background-color: RGBA(240, 240, 240, 0.8); */
  border-radius: 10px;
  .div-img-wrapper {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 50%;
    width: 100%;
    padding: 10px;
    margin: 0;
    list-style: none;
  }
}
